.genre-view {
	margin-top: 10px;
}

.genre-details-card {
	margin: auto;
}

.genre-name {
	text-align: center;
}

.genre-description {
	padding: 20px 20px 0px 20px;
}

.button {
  border: none;
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  background-color: #dbdbd3;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  transition: 0.2s opacity;
  margin-bottom: 10px;
  text-align: center;
}