.movie-view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-poster {
  height: 300px;
  width: auto;
  cursor: pointer;
}